:root {
  --red-main: #ff3946;
  --blue-main: #464e90;
  --grey: #787e83;
  --white: #fff;
  --font-size-xxlarger: 73.48px;
  --font-size-xlarger: 48.48px;
  --font-size-larger: 27.44px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --custom-shadow-1: 0 1px 5px 10px rgba(0, 0, 0, 0.2);
  --custom-shadow-2: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
}

/* Start General Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input[type="button"],
input[type="text"],
button,
textarea,
select {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
textarea {
  resize: none;
}
/* Small Screens */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End General Rules */

/* Start Components */
button.main-btn {
  background-color: var(--red-main);
  color: var(--white);
  font-weight: 600;
  border: 2px solid var(--red-main);
  border-radius: 20px;
  padding: 14px 25px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
button.main-btn:hover {
  background-color: var(--white);
  color: var(--blue-main);
}

.sliders {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.sliders button {
  color: var(--blue-main);
  background-color: transparent;
  font-size: var(--font-size-small);
  color: var(--grey);
}
.sliders button.active {
  font-size: 25px;
  color: var(--blue-main);
}

.hide {
  display: none !important;
}
/* End Components */

/* Start Header */
.header {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--blue-main);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.header .container > a img {
  width: 80px;
  min-width: 50px;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header nav > i {
  display: none;
  cursor: pointer;
}
.header nav ul {
  padding: 0;
  display: flex;
  gap: 30px;
}
.header nav ul li:first-child {
  color: var(--red-main);
}
.header nav ul li a {
  transition: 0.3s;
}
.header nav ul li:hover a {
  color: var(--red-main);
}
@media (max-width: 991px) {
  .header .container {
    gap: 25px;
  }
  .header nav {
    /* margin-left: 20px; */
    font-size: var(--font-size-small);
  }
}
@media (max-width: 767px) {
  .header .container {
    padding: 10px;
    gap: 0;
  }
  .header nav {
    justify-content: flex-end;
    gap: 20px;
  }
  .header nav > i {
    display: block;
    font-size: 25px;
  }
  .header nav > i + ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px;
    font-size: var(--font-size-medium);
    background-color: rgba(120, 126, 131, 0.2);
  }
  .header nav > i + ul li {
    padding: 15px;
  }
  .header nav > i + ul li:not(:last-child) {
    border-bottom: 1px solid var(--blue-main);
  }
}
.show {
  display: block !important;
}
.header nav ul a {
  color: inherit;
}
.header nav .support {
  position: relative;
  display: flex;
  align-items: center;
}
.header nav .support select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  font-weight: inherit;
  margin-right: 20px;
  padding-right: 12px;
  background-color: transparent;
  cursor: pointer;
}
.header nav .support::after {
  font-family: var(--fa-style-family-classic);
  content: "\f0d7";
  font-weight: 900;
  font-size: 13px;
  position: absolute;
  left: 26px;
  bottom: 50%;
  transform: translateY(60%);
  z-index: -1;
}
.header nav .support a {
  color: var(--red-main);
  font-weight: inherit;
  background-color: white;
  padding: 20px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@media (max-width: 991px) {
  .header nav .support a {
    padding: 10px;
    font-size: 12px;
    width: 100px;
  }
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
}
.landing img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing img:first-child {
  width: 600px;
  left: 65%;
  z-index: 0;
}
.landing img:last-of-type {
  right: -50px;
  bottom: 0;
  z-index: -1;
}
.landing .info {
  width: 50%;
}
.landing h1 {
  margin: 0 0 20px;
  color: var(--blue-main);
  font-size: var(--font-size-xxlarger);
}
.landing p {
  color: var(--grey);
  line-height: 1.7;
  margin-bottom: 20px;
}
.landing .more-info a {
  font-weight: 600;
  margin-left: 20px;
  color: var(--blue-main);
  transition: 0.3s;
}
.landing .more-info a:hover {
  color: var(--red-main);
}
@media (max-width: 991px) {
  .landing img:first-child {
    width: 450px;
  }
}
@media (max-width: 767px) {
  .landing {
    justify-content: center;
    text-align: center;
  }
  .landing img:first-child {
    width: 0;
  }
  .landing .info {
    width: 100%;
  }
  .landing .more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .landing .more-info a {
    margin: 0;
  }
}
/* End Landing */

/* Start Features */
.features {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.features .container > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.features .content {
  display: flex;
  gap: 95px;
}
.features .content .text h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: var(--font-size-xlarger);
  color: var(--blue-main);
}
.features .content .text button {
  font-size: var(--font-size-small);
}
.features .content .feature {
  box-shadow: var(--custom-shadow-2);
  padding: 40px;
}
.features .content .feature h2 {
  color: var(--blue-main);
  font-size: var(--font-size-larger);
  margin: 20px 0;
}
.features .content .feature p {
  margin-bottom: 0;
  line-height: 1.7;
  color: var(--blue-main);
}
@media (max-width: 1201px) {
  .features .content {
    gap: 50px;
  }
}
@media (max-width: 991px) {
  .features .content {
    gap: 50px;
    flex-wrap: wrap;
  }
  .features .content .text {
    flex-basis: 100%;
  }
  .features .content .feature {
    flex-basis: 36%;
  }
}
@media (max-width: 767px) {
  .features .content {
    gap: 50px;
    justify-content: center;
  }
  .features .content > .feature,
  .features .content > .text {
    flex-basis: 100%;
    text-align: center;
  }
}
/* End Features */

/* Start Our Company */
.our-company {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.our-company .container {
  display: flex;
  justify-content: flex-end;
}
.our-company .container > img:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.our-company .container > img:last-of-type {
  width: 600px;
  position: absolute;
  right: 55%;
  top: 0;
}
.our-company .content {
  flex-basis: 50%;
}
.our-company .content .title {
  color: var(--red-main);
  font-size: var(--font-size-medium);
  font-weight: 600;
}
.our-company .content h1 {
  color: var(--blue-main);
  font-size: var(--font-size-xlarger);
}
.our-company .content .comments {
  overflow: hidden;
  color: var(--blue-main);
  font-size: var(--font-size-medium);
  line-height: 1.7;
  position: relative;
  height: 160px;
}
.our-company .content .comments p {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.our-company .content .comments p:nth-child(1) {
  transform: translateX(0%);
}
.our-company .content .comments p:nth-child(2) {
  transform: translateX(100%);
}
.our-company .content .comments p:nth-child(3) {
  transform: translateX(200%);
}
@media (max-width: 991px) {
  .our-company .container > img:last-of-type {
    width: 0;
  }
  .our-company .container {
    justify-content: center;
  }
  .our-company .content {
    text-align: center;
    flex-basis: 100%;
  }
  .our-company .content .sliders {
    justify-content: center;
  }
}
/* End Our Company */

/* Start Our Work */
.our-work {
  overflow: hidden;
  height: 100vh;
  position: relative;
  margin-top: 100px;
}
.our-work .container > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.our-work .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.our-work .head .text {
  color: var(--blue-main);
}
.our-work .head .text h1 {
  margin: 0;
}
.our-work .head .sliders {
  display: flex;
  gap: 20px;
  align-items: center;
}
.our-work .works {
  position: relative;
  height: 800px;
  overflow: hidden;
}
.our-work .works .works-slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  transition: 0.5s;
}
.our-work .works .works-slide:nth-child(1) {
  transform: translateX(0%);
}
.our-work .works .works-slide:nth-child(2) {
  transform: translateX(200%);
}
.our-work .works .works-slide .row {
  display: flex;
  gap: 20px;
}
.our-work .works .img-holder img {
  width: 370px;
  max-width: 100%;
  height: 250px;
}
.our-work .works img {
  object-fit: cover;
  /* width: 370px;
  max-width: 100%; */
}
.our-work .works .works-slide .more {
  font-size: var(--font-size-medium);
  color: var(--blue-main);
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
.our-work .works .works-slide .more:hover {
  color: var(--red-main);
}
@media (max-width: 991px) {
  .our-work {
    height: auto;
  }
  .our-work .works {
    height: 1000px;
  }
  .our-work .works .works-slide,
  .our-work .works .works-slide .row {
    flex-direction: column;
  }
}
/* .our-work .works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}
.our-work .works .img-holder {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.our-work .works .img-holder::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(70, 77, 144, 0.85);
  transition: 0.3s ease-in;
}
.our-work .works .img-holder:hover::after {
  width: 600px;
  height: 600px;
}
.our-work .works .img-holder::before {
  content: "Awesome Work";
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 100%);
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-size-medium);
  /* display: none; * /
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}
.our-work .works .img-holder:hover::before {
  /* display: block; * /
  bottom: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}
.our-work .works img {
  height: 270px;
  width: 100%;
}
@media (max-width: 767px) {
  .our-work .works {
    grid-template-columns: minmax(250px, 1fr);
    justify-items: center;
  }
  .our-work .works img {
    width: 260px;
    height: auto;
  }
}
.our-work .more {
  margin: 30px auto 0;
  width: fit-content;
  font-size: var(--font-size-medium);
  color: var(--red-main);
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.our-work .more:hover {
  color: var(--blue-main);
} */
/* End Our Work */

/* Start Blog Stories */
.stories {
  overflow: hidden;
  /* height: 100vh; */
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
}
.stories .container > img {
  position: absolute;
  top: -0px;
  right: -600px;
  transform: rotateY(180deg);
  z-index: -1;
}
.stories .content .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.stories .content .head .text p {
  color: var(--red-main);
  font-weight: 600;
  font-size: var(--font-size-medium);
}
.stories .content .head .text h1 {
  margin-bottom: 0;
  margin-top: 15px;
  color: var(--blue-main);
  font-weight: 600;
}
.stories .content .head .sliders {
  display: flex;
  gap: 20px;
  align-items: center;
}
.stories .content .stories-wrapers {
  position: relative;
  display: flex;
  gap: 30px;
  /* overflow: hidden; */
  height: 350px;
}
.stories .content .stories-wrapers .row {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 20px;
  transition: 0.5s;
}
.stories .content .stories-wrapers .row:nth-child(1) {
  transform: translateX(0%);
}
.stories .content .stories-wrapers .row:nth-child(2) {
  transform: translateX(200%);
}
.stories .content .stories-wrapers .row:nth-child(3) {
  transform: translateX(400%);
}
@media (max-width: 991px) {
  .stories .content .stories-wrapers {
    height: 650px;
  }
  .stories .content .stories-wrapers .row {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .stories .content .stories-wrapers {
    height: 1000px;
  }
}
.stories .content .stories-wrapers .wraper {
  padding: 30px;
  box-shadow: var(--custom-shadow-2);
  font-size: var(--font-size-medium);
  line-height: 1.7;
  color: var(--blue-main);
}
.stories .content .stories-wrapers .wraper h4 {
  font-weight: 600;
}
.stories .content .stories-wrapers .wraper p:first-of-type {
  font-size: var(--font-size-small);
  color: var(--grey);
}
.stories .content .stories-wrapers .wraper p:last-of-type {
  margin: 20px 0;
}
.stories .content .stories-wrapers .wraper a {
  display: block;
  width: fit-content;
  margin-left: auto;
  color: var(--red-main);
}
.stories .content .stories-wrapers .wraper.active {
  background-color: var(--red-main);
  color: var(--white);
}
.stories .content .stories-wrapers .wraper.active p:first-of-type,
.stories .content .stories-wrapers .wraper.active a {
  color: inherit;
}
/* End Blog Stories */

/* Start Contact Us */
.contact-us {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-us .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.contact-us .head .text p {
  color: var(--red-main);
  font-weight: 600;
  font-size: var(--font-size-medium);
}
.contact-us .head .text h1 {
  margin-bottom: 0;
  margin-top: 15px;
  color: var(--blue-main);
  font-weight: 600;
}
.contact-us .head .sliders {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact-us form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-us form input[type="text"] {
  width: calc(50% - 10px);
  padding: 20px;
  background-color: #f3fbfe;
  color: var(--blue-main);
  font-weight: 600;
}
.contact-us form input[type="text"]:first-child {
  margin-right: 20px;
}
.contact-us form input[type="text"]:last-child {
  margin-left: 20px;
}
.contact-us form textarea {
  display: block;
  width: 100%;
  padding: 20px;
  height: 200px;
  background-color: #f3fbfe;
  color: var(--blue-main);
  font-weight: 600;
  margin: 20px 0;
}
@media (max-width: 767px) {
  .contact-us form {
    flex-direction: column;
    gap: 20px;
  }
  .contact-us form input[type="text"] {
    width: 100%;
  }
  .contact-us form textarea {
    margin: 0;
  }
  .contact-us form button {
    width: fit-content;
    margin: auto;
  }
}
.contact-us form input[type="text"]::placeholder,
.contact-us form textarea::placeholder {
  color: var(--blue-main);
  font-weight: 400;
}
/* End Contact Us */

/* Start Footer */
footer {
  padding: 50px;
  background-color: var(--blue-main);
  color: var(--white);
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p.page-title {
  font-size: var(--font-size-medium);
  color: var(--white);
  font-weight: 600;
}
footer h1 {
  font-size: var(--font-size-xlarger);
  color: var(--red-main);
  font-weight: 600;
  margin: 10px 0 30px;
}
footer nav ul {
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: var(--font-size-medium);
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer nav ul {
    flex-direction: column;
  }
}
footer nav ul li a {
  color: inherit;
  transition: 0.3s;
}
footer nav + p {
  font-size: var(--font-size-small);
  color: inherit;
  margin-bottom: 20px;
}
footer .container > ul {
  display: flex;
  gap: 40px;
  font-size: var(--font-size-xlarger);
}
footer .container > ul li {
  cursor: pointer;
  transition: 0.3s;
}
footer nav ul li:hover a,
footer .container > ul li:hover {
  color: var(--red-main);
}
/* End Footer */
